<section aria-label="descripton search">
  <%= form_with scope: :search, class: "usa-search", role: "search" do |form| %>
    <div class="grid-row flex-no-wrap">
      <%= form.label  "description", "Description field", class: "usa-sr-only" %>
      <%= form.text_field :description, value: @search[:description], class: "usa-input usagov-search-autocomplete", type: "search" %>
      <%= form.submit "Search", class: "usa-button" %>
    </div>

    <div class="margin-top-2">
        <%= field_set_tag "Resource Type", class: "usa-fieldset text-bold", name: :type do%>
          <% resource_types.each do |type| %>
            <%= fields_for "search[type]" do |type_form| %>
              <div class="usa-checkbox">
                <%= type_form.check_box type,
                 value: type,
                 class: "usa-checkbox__input",
                 checked: @search.dig(:type, type) == "1" %>
                <%= type_form.label type, type, class: "usa-checkbox__label"  %>
             </div>
            <% end %>
          <% end %>
        <% end %>
    </div>
  <% end %>
</section>
